@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.rbc-toolbar .rbc-btn-group {
  display: none;
}

.rbc-toolbar .rbc-toolbar-label {
  font-size: 20px;
}

.rbc-timeslot-group>.rbc-time-slot {
  border-bottom: 1px solid rgb(209, 209, 209) !important;
}

.rbc-time-view {
  background-color: transparent;
}

/* .rbc-row,
.rbc-time-slot {
  background-color: transparent !important; 
  backdrop-filter: blur(4px) !important; 
  color: white; 
} */

